<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.say.tikujun.mapper.AnswerQuestionMapper">
    <resultMap id="gq" type="com.say.tikujun.pojo.Question">
        <id column="id" property="id"/>
        <result column="question" property="question"/>
        <result column="type" property="type"/>
        <result column="answer_a" property="answer_a"/>
        <result column="answer_b" property="answer_b"/>
        <result column="answer_c" property="answer_c"/>
        <result column="answer_d" property="answer_d"/>
        <result column="answer_true" property="answer_true"/>
    </resultMap>
    <select id = "getCollectionBar" resultType="int">
        select IFNULL((select 1 as isExist  from collection_bar where collection_bar.id_question = ${id_q} and collection_bar.id_student = ${id_s} limit 1), 0)
    </select>
    <select id = "getQuestion" resultMap="gq">
        select * from question_bank where question_bank.type = ${subject} and subtype = ${subtype}
    </select>
    <insert id="addCollectionBar">
        insert into collection_bar(id_student, id_question) VALUES (${id_s},${id_q})
    </insert>
    <delete id="delCollectionBar">
        delete from collection_bar where id_student = ${id_s} and id_question = ${id_q}
    </delete>
    <insert id="addQuestionWrong">
        insert into question_wrong(id_student, id_question) VALUES (${id_s},${id_q})
    </insert>
    <select id = "checkQuestionWrong" resultType="int">
        select IFNULL((select 1 as isExist  from question_wrong where question_wrong.id_question = ${id_q} and question_wrong.id_student = ${id_s} limit 1), 0)
    </select>
    <select id = "getSingleQuestion" resultMap="gq">
        select * from question_bank where question_bank.id = ${id_q}
    </select>
    <select id="selectSubtype" resultType="String">
        select distinct subtype from question_bank where type = ${type}
    </select>
    <update id="addStudentTrue">
        update student set student.true_number = student.true_number + 1 where id = ${id_s}
    </update>
    <update id="addStudentQuestion">
        update student set student.question_number = student.question_number + 1 where id = ${id_s}
    </update>
    <select id="getStudentTrue" resultType="int">
        select true_number from student where id = ${id_s}
    </select>
    <select id="getStudentQuestion" resultType="int">
        select question_number from student where id = ${id_s}
    </select>
    <select id="getStudentName" resultType="String">
        select student.name from student where id = ${id_s}
    </select>
    <update id="updateQuestionOptInfo_a">
        update question_number set question_number.number_a = question_number.number_a + 1 where id = ${id_q}
    </update>
    <update id="updateQuestionOptInfo_b">
        update question_number set question_number.number_b = question_number.number_b + 1 where id = ${id_q}
    </update>
    <update id="updateQuestionOptInfo_c">
        update question_number set question_number.number_c = question_number.number_c+ 1 where id = ${id_q}
    </update>
    <update id="updateQuestionOptInfo_d">
        update question_number set question_number.number_d = question_number.number_d + 1 where id = ${id_q}
    </update>
    <update id="updateQuestionOptInfo_true">
        update question_number set question_number.number_true = question_number.number_true + 1 where id = ${id_q}
    </update>
    <update id="updateQuestionOptInfo_all">
        update question_number set question_number.number_all = question_number.number_all + 1 where id = ${id_q}
    </update>
    <select id="checkQuestionDate" resultType="int">
        select IFNULL((select 1 as isExist  from question_date where year = ${year} and month = ${month} limit 1), 0)
    </select>
    <insert id="insertQuestionDate">
        insert into question_date values (${year}, ${month}, 0, 0, 0, 0, 0, 0, 0, 0)
    </insert>
    <!--数据结构-->
    <update id="updateQuestionDateDataStruct_true">
        update question_date set DataStruct_true = DataStruct_true + 1 where year = ${year} and month = ${month}
    </update>
    <update id="updateQuestionDateDataStruct_all">
        update question_date set DataStruct_all = DataStruct_all + 1 where year = ${year} and month = ${month}
    </update>
    <!--操作系统-->
    <update id="updateQuestionDateOperationSys_true">
        update question_date set OperationSys_true = OperationSys_true + 1 where year = ${year} and month = ${month}
    </update>
    <update id="updateQuestionDateOperationSys_all">
        update question_date set OperationSys_all = OperationSys_all + 1 where year = ${year} and month = ${month}
    </update>
    <!--计算机组成原理-->
    <update id="updateQuestionDateComputerOrg_true">
        update question_date set ComputerOrg_true = ComputerOrg_true + 1 where year = ${year} and month = ${month}
    </update>
    <update id="updateQuestionDateComputerOrg_all">
        update question_date set ComputerOrg_all = ComputerOrg_all + 1 where year = ${year} and month = ${month}
    </update>
    <!--计算机网络-->
    <update id="updateQuestionDateComputerNet_true">
        update question_date set ComputerNet_true = ComputerNet_true + 1 where year = ${year} and month = ${month}
    </update>
    <update id="updateQuestionDateComputerNet_all">
        update question_date set ComputerNet_all = ComputerNet_all + 1 where year = ${year} and month = ${month}
    </update>
    <select id="getQuestionDateType" resultType="String">
        select type from question_bank where id = ${id_q}
    </select>
</mapper>